/* @group reset */
html {color: #000; background: #FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin: 0; padding: 0;}
table {border-collapse: collapse; border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal; font-weight: normal;}
li {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%; font-weight: normal;}
q:before,q:after {content: '';}
abbr,acronym {border: 0; font-variant: normal;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input,textarea,select {font-family: inherit; font-size: inherit; font-weight: inherit;}
input,textarea,select {*font-size: 100%;}
legend {color: #000;}
del,ins {text-decoration: none;}
/* @end */

/* @group layout */
body, td, input, textarea, select,button {font-family: Arial,Sans-serif;}
body,html {overflow: hidden; background-color: transparent;}
a img {border-width: 0;}
fieldset, img {border: 0 none;}
body {font-size: 13px;}
.hidden {display: none}
.deepbg{background: #BCF;}
.lightbg{background: #e3e9ff;}
em {font-weight: bold;}
/* @end */

/* @group common.css */
.goog-inline-block {position: relative; display: -moz-inline-box;display: inline-block;}
* html .goog-inline-block {display: inline;}
*:first-child+html .goog-inline-block {display: inline;}
/* @end */

/* @group loading area */
.loadingstatusbox {font-family: arial, sans-serif; font-weight: bold; position: absolute; z-index: 1100; padding: 3px; left: 50%; margin-left: -16px; background-color: #fff1a8; color: #000; border: 2px solid #fff1a8; border-top: 0px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px;top: 0;}
/* @end */

/* @group gb */
#gb {margin: 3px 8px;}
#gbar, #guser {padding-top: 1px !important;}
#gbar {float: left; height: 22px;}
#gbar .active {text-decoration: none; font-weight: bold; color: #000 !important;}
.gb1 {margin-right: 0.5em;}
#gb a {color: #2200CC !important;}
#guser {padding-bottom: 7px !important; text-align: right;}
.gbh, .gbd {border-top: 1px solid #C9D7F1; font-size: 1px;}
.gbh {height: 0; position: absolute; top: 24px; width: 100%;}
/* @end */

/* @group header */
#logo {cursor: pointer; width: 180px; height: 59px; position: absolute; top: 34px; left: 10px; background: url("/images/cldiarylogo.png") no-repeat; background-position: left top}
#logo span{position:relative;color:#CCC;left:150px;font-size:15px;font-weight:bold}
#search {left: 230px; position: absolute; top: 38px;}
#search-input {margin: 1px 0; padding: 4px 1px 4px 4px; border-color: #666666 #CCCCCC #CCCCCC; border-style: solid; border-width: 1px;}
#search-input:focus {margin: 1px 0; padding: 3px 0 3px 3px; border: 2px solid #73a6ff; outline: 0 none;}
/* @end */

/* @group main */
#main{width: 100%; position: absolute; top: 96px;bottom:0}
/*#main>div{position:absolute;height:100%;}*/
#main>div{position:absolute;top:0;bottom:0}
#navpane{width:230px;background-color:#FFF;}
#splitpane-handle{width:5px;left:230px;cursor: col-resize;}
#viewpane{left:235px;right:0}
/* @end */

/* @group navpane */
#navpane{position: relative; overflow: hidden;}
/* @end */

/* @group contentcreationpane */
#contentcreationpane{height:30px;}
/* @end */

/* @group navpanelist */
#navpanelist{margin-top:4px}
#navpanelist li,#tasks{line-height: 21px;padding-left:10px;cursor: pointer;overflow:hidden}
#navpanelist li:hover{background-color:#e3e9ff}
#tasks{margin:2px 0}
#navpanelist .text, #tasks .text{float:left}
#navpanelist .icon, #tasks .icon { margin: 2px 0 0 3px; width: 16px; height: 16px; float: left;}
/*#navpanelist .trash .icon{background:url("/images/icons_13.png") no-repeat;background-position: -96px 0;}*/
#tasks .icon{background:url(/images/1304729777-tasks.png) no-repeat;}
/* @end */

/* @group tree */
.zippy h2{line-height: 20px;height:20px;font-weight:bold;padding-left:10px;border-top: solid 1px #BCF; overflow: hidden; position: relative;cursor:pointer}
.zippy-button{float:right;width:12px;height:12px;background:url(/images/1225119760-lhn-sprite.png) no-repeat}
.zippy-arrow{background-position: 0 -28px;margin:4px 3px 0 0 }
.zippy-menubutton{background-position: 0 -40px;margin:4px 4px 0 0 }
/* @end */

/* @group main */
#main-header{height:30px;position:relative}
#main-footer{height:30px;position:absolute;bottom:0;width:100%}
#main-container{background-color:#FFF;position:absolute;top:30px;bottom:30px;width:100%}
/* @end */

/* @group main header */
#header-title{line-height:30px;font-weight:bold;}
/* @end */
