/* @group reset */
html {color: #000; background: #FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin: 0; padding: 0;}
table {border-collapse: collapse; border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal; font-weight: normal;}
li {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%; font-weight: normal;}
q:before,q:after {content: '';}
abbr,acronym {border: 0; font-variant: normal;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input,textarea,select {font-family: inherit; font-size: inherit; font-weight: inherit;}
input,textarea,select {*font-size: 100%;}
legend {color: #000;}
del,ins {text-decoration: none;}
/* @end */

/* @group font face */
/*@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: bold;
  src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'), url('http://themes.googleusercontent.com/font?kit=KNiAlx6phRqXCwnZZG51JKtyUVIKlQBJdfjufOujkg0&text') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: normal;
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url('http://themes.googleusercontent.com/font?kit=Oiz0tNwvC-Nd29SBQWfWTH24HHLNtlTrI02aO9A8tK8&text') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: bold;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url('http://themes.googleusercontent.com/font?kit=wMZpbUtcCo9GUabw9JODeuVGu2aPe47OCGXGXP4W9sc&text') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('http://themes.googleusercontent.com/font?kit=BCFBp4rt5gxxFrX6F12DKiD4i3kEMkPDRbZVAX_DCSs&text') format('woff');
}*/
/* @end */

/* @group layout */
body, td, input, textarea, select,button {font-family: Arial,Sans-serif;}
body,html {overflow: hidden; background-color: transparent;}
a img {border-width: 0;}
fieldset, img {border: 0 none;}
body {font-size: 13px;}
.hidden {display: none}
.deepbg{background: #BCF;}
.lightbg{background: #e3e9ff;}
.vh{visibility:hidden}
.mt4{margin-top:4px}
.rd3{border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.rdbl4{border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.rdbr4{border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;}
.noticemsg{background-color: #fff1a8; color: #000;border-color: #FFF1A8;}
em {font-weight: bold;}
/* @end */


/* @group message area */
.loadingstatusbox, #mbox {font-family: arial, sans-serif; font-weight: bold; position: absolute; z-index: 1100; left: 50%; }
.loadingstatusbox{padding: 3px; margin-left: -35px; border: 2px solid #fff1a8; border-top: 0px; top: 0;}
#mbox{padding:0 7px;border: 3px solid transparent;line-height:16px;top:70px;margin-left:-168px}
/* @end */

/* @group gb */
#gb {margin: 3px 8px;}
#gbar, #guser {padding-top: 1px !important;}
#gbar {float: left; height: 22px;}
#gbar .active {text-decoration: none; font-weight: bold; color: #000 !important;}
.gb1 {margin-right: 0.5em;}
#gb a {color: #2200CC !important;}
#guser {padding-bottom: 7px !important; text-align: right;}
.gbh, .gbd {border-top: 1px solid #C9D7F1; font-size: 1px;}
.gbh {height: 0; position: absolute; top: 24px; width: 100%;}
/* @end */

/* @group header */
#logo {cursor: pointer; position: absolute; top: 28px; left: 10px; }
.cuoluo{font-size:28px;font-weight:bold;text-shadow: 2px 2px 2px #aaa;margin-right:8px;font-family: 'Vollkorn', serif;}
.cuoluo .c{color:#1851ce}
.cuoluo .o{color:#c61800}
.cuoluo .u{color:#efba00}
.cuoluo .l{color:#1ba823}
.diary{color:#2b4bc5;font-size:20px;font-weight:bold}
.beta{color:#CCC;position:relative;left:2px;top:-2px;}
/*#logo span{position:relative;color:#CCC;left:150px;font-size:15px;font-weight:bold}*/
#search {left: 230px; position: absolute; top: 38px;}
#search-input {margin: 1px 0; padding: 4px 1px 4px 4px; border-color: #666666 #CCCCCC #CCCCCC; border-style: solid; border-width: 1px;position:relative;top:2px;}
#search-input:focus {margin: 1px 0; padding: 3px 0 3px 3px; border: 2px solid #73a6ff; outline: 0 none;}
#search .goog-css3-button{padding:4px 8px}
#search .goog-imageless-button-content{line-height:23px}
#search .goog-imageless-button{top:2px;left:-2px}
/* @end */

/* @group main */
#main{width: 100%; position: absolute; top: 96px;bottom:0}
/*#main>div{position:absolute;height:100%;}*/
#main>div{position:absolute;top:0;bottom:0}
#navpane{width:230px;background-color:#FFF;}
#splitpane-handle{width:5px;left:230px;cursor: col-resize;}
#viewpane{left:235px;right:0}
/* @end */

/* @group navpane */
#navpane{position: relative; overflow: hidden;}
/* @end */

/* @group creation and today */
#createnewmenu {padding:1px 0}
#createnewmenu .goog-menuitem{padding-right:37px}
#createnewmenu ..goog-menuitem-content{line-height:16px}
.Diary-menuitemicon{background:url(/images/date/favicon_v2010_31.ico) no-repeat}
.Note-menuitemicon{background-image: url("/images/icons_13.png");background-position: -144px 0;}
.Email-menuitemicon{background-image: url("/images/blue-gmail16.png");}
/* @end */

/* @group contentcreationpane */
#contentcreationpane{min-height:30px;padding-left:4px}
div.toolbarbutton{margin:4px}
/* @end */

/* @group navpanelist */
#navpanelist li{line-height: 21px;padding-left:10px;cursor: pointer;overflow:hidden;white-space: nowrap;}
#navpanelist li:hover{background-color:#e3e9ff}
#navpanelist .text, #tasks .caption{float:left}
#navpanelist .icon, #tasks .icon { margin: 2px 0 0 3px; width: 16px; height: 16px; float: left;}
/*#navpanelist .trash .icon{background:url("/images/icons_13.png") no-repeat;background-position: -96px 0;}*/
#tasks .icon{background:url(/images/1304729777-tasks.png) no-repeat;}
/* @end */

/* @group tree */
.zippy h2{line-height: 20px;height:20px;font-weight:bold;padding-left:10px;border-top: solid 1px #BCF; overflow: hidden; position: relative;cursor:pointer;outline:0 none;}
.zippy .content{overflow-x: hidden;overflow-y: auto;position:relative}
.zippy-button{float:right;width:12px;height:12px;background:url(/images/1225119760-lhn-sprite.png) no-repeat}
.zippy-arrow{background-position: 0 -28px;margin:4px 3px 0 0 }
.zippy-arrow:hover{background-position: -12px -28px}
.goog-zippy-expanded .zippy-arrow{background-position: 0 -16px;}
.goog-zippy-expanded .zippy-arrow:hover{background-position: -12px -16px;}
.zippy-menubutton{background-position: 0 -40px;margin:4px 4px 0 0 }
.content .empty{color:#666;width:100%;margin-top:20%;text-align:center;font-size:12px;position:absolute;z-index:5}
.empty .msg{margin-bottom:10px}
.goog-tree-root{width:100%;position:absolute;top:0;left:0;}
.goog-tree-root>.goog-tree-children{background-color:#FFF;}
.goog-tree-row:hover {background: #e3e9ff;cursor: pointer;}
.goog-tree-item .selected { background-color: #BBCCFF !important; }
/*img.goog-tree-icon{margin-left:8px}*/
.goog-tree-row img:first-child{margin-left:8px}
.goog-tree-item-label{padding:0}
.goog-tree-row img{position:relative;top:-2px}
/* @end */

/* @group diary tree */
.doctree-icon{height: 16px; vertical-align: middle; width: 16px;}
.year-icon, .month-icon{background-image:url(/images/icon_calendar.gif)}
.day-icon-01{background-image:url(/images/date/favicon_v2010_1.ico)}
.day-icon-02{background-image:url(/images/date/favicon_v2010_2.ico)}
.day-icon-03{background-image:url(/images/date/favicon_v2010_3.ico)}
.day-icon-04{background-image:url(/images/date/favicon_v2010_4.ico)}
.day-icon-05{background-image:url(/images/date/favicon_v2010_5.ico)}
.day-icon-06{background-image:url(/images/date/favicon_v2010_6.ico)}
.day-icon-07{background-image:url(/images/date/favicon_v2010_7.ico)}
.day-icon-08{background-image:url(/images/date/favicon_v2010_8.ico)}
.day-icon-09{background-image:url(/images/date/favicon_v2010_9.ico)}
.day-icon-10{background-image:url(/images/date/favicon_v2010_10.ico)}
.day-icon-11{background-image:url(/images/date/favicon_v2010_11.ico)}
.day-icon-12{background-image:url(/images/date/favicon_v2010_12.ico)}
.day-icon-13{background-image:url(/images/date/favicon_v2010_13.ico)}
.day-icon-14{background-image:url(/images/date/favicon_v2010_14.ico)}
.day-icon-15{background-image:url(/images/date/favicon_v2010_15.ico)}
.day-icon-16{background-image:url(/images/date/favicon_v2010_16.ico)}
.day-icon-17{background-image:url(/images/date/favicon_v2010_17.ico)}
.day-icon-18{background-image:url(/images/date/favicon_v2010_18.ico)}
.day-icon-19{background-image:url(/images/date/favicon_v2010_19.ico)}
.day-icon-20{background-image:url(/images/date/favicon_v2010_20.ico)}
.day-icon-21{background-image:url(/images/date/favicon_v2010_21.ico)}
.day-icon-22{background-image:url(/images/date/favicon_v2010_22.ico)}
.day-icon-23{background-image:url(/images/date/favicon_v2010_23.ico)}
.day-icon-24{background-image:url(/images/date/favicon_v2010_24.ico)}
.day-icon-25{background-image:url(/images/date/favicon_v2010_25.ico)}
.day-icon-26{background-image:url(/images/date/favicon_v2010_26.ico)}
.day-icon-27{background-image:url(/images/date/favicon_v2010_27.ico)}
.day-icon-28{background-image:url(/images/date/favicon_v2010_28.ico)}
.day-icon-29{background-image:url(/images/date/favicon_v2010_29.ico)}
.day-icon-30{background-image:url(/images/date/favicon_v2010_30.ico)}
.day-icon-31{background-image:url(/images/date/favicon_v2010_31.ico)}
/* @end */

/* @group tasks */
#tasks-container{overflow:hidden}
#tasks .loading{padding-left:10px;margin-top:15px;color:#666}
#relogin{position:relative;padding-left:10px;top:-20px;background-color:#FFF;}
#relogin p{font-weight:bold;margin-bottom:10px}
#tasksiframe {position:absolute;height:100%;width:100%;top:0;background-color:#FFF}
/* @end */

/* @group main */
#doc{position:absolute;width:100%;height:100%}
#doc-header{height:30px;position:absolute;width:100%}
#doc-footer{height:30px;position:absolute;bottom:0;width:100%}
#doc-container{background-color:#FFF;position:absolute;top:30px;bottom:30px;width:100%;padding-top:30px}
/* @end */

/* @group doc header */
#header-title{line-height:30px;font-weight:bold;}
#doc-actions{position:absolute;right:8px;top:4px}
#actionsmenu .goog-menuitem {padding: 3px 4em 3px 18px;}
#actionsmenu .goog-menuitem-highlight, #actionsmenu .goog-menuitem-hover { padding-bottom: 2px; padding-top: 2px; }
/* @end */

/* @group doc container */
#container-table{
width:100%;height:100%;
position: relative;
}
/*#container-table td{height:100%}*/
#editortoolbar{
	position: absolute;
	width: 100%;
	top: 0;
}
#editorarea{
	width:100%;
	height:100%;
}
#savebutton{position: absolute; right: 8px; top: 4px;z-index: 5;}
/* @end */
