html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}
/* layout */
body, td, input, textarea, select,button{font-family:arial,sans-serif;}
h1, h2, h3, h4 {font-weight:bold}
body,html{overflow:hidden;background:#FFF;}
a img {border-width:0;}
fieldset, img {border:0 none;}
body{font-size:13px;}
.hidden{display:none}
.h4px{height:4px}
.red{color:#FF0084}
.green{color:#92D135}
.blue{color:#0063DC}
.deepcolo{background-color:#FAD163}
.tint{background-color:#FFF7D7}
.vh{visibility:hidden;}
div:focus {outline: 0;}
.noselect,.noselect *{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.cb{clear:both}
.round{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
a:link, a:visited, a:hover {
color:#2200CC;
}
.button-main {
font-weight:bold;
}
.normalSize {
font-size:100%;
}

/* @group font face */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: bold;
  src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'), url('https://themes.googleusercontent.com/font?kit=KNiAlx6phRqXCwnZZG51JKtyUVIKlQBJdfjufOujkg0&text') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: normal;
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url('https://themes.googleusercontent.com/font?kit=Oiz0tNwvC-Nd29SBQWfWTH24HHLNtlTrI02aO9A8tK8&text') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: bold;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url('https://themes.googleusercontent.com/font?kit=wMZpbUtcCo9GUabw9JODeuVGu2aPe47OCGXGXP4W9sc&text') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('https://themes.googleusercontent.com/font?kit=BCFBp4rt5gxxFrX6F12DKiD4i3kEMkPDRbZVAX_DCSs&text') format('woff');
}
/* @end */

/* @group gb new black style */
#gb{font:13px/27px Arial,sans-serif;height:30px;position: absolute; width: 100%;}
#gbg4{background-color:inherit;cursor:default}
#gbz,#gbg{position:absolute;white-space:nowrap;top:0;height:30px;z-index:1000}
#gbz{left:0;padding-left:4px}
#gbg{right:0;padding-right:5px}
#gbs{background:#fff;left:0;position:absolute;visibility:hidden;z-index:998}
#gbx3,#gbx4{background-color:#2d2d2d;background-image:none;_background-image:none;background-position:0 -138px;background-repeat:repeat-x;border-bottom:1px solid #000;font-size:24px;height:29px;_height:30px;opacity:1;filter:alpha(opacity=100);position:absolute;top:0;width:100%;z-index:990}
#gbx3{left:0}
#gbx4{right:0}
.gbtcb{position:absolute;visibility:hidden}
#gbz .gbtcb{right:0}
#gbg .gbtcb{left:0}
.gbxx{display:none !important}
.gbm{position:absolute;z-index:999;top:-999px;visibility:hidden;text-align:left;border:1px solid #bebebe;background:#fff;-moz-box-shadow:-1px 1px 1px #ccc;-webkit-box-shadow:0 1px 5px #ccc;box-shadow:0 1px 5px #ccc}
.gbrtl .gbm{-moz-box-shadow:1px 1px 1px #ccc}
.gbto .gbm{visibility:visible;top:29px !important}
#gbs{top:29px !important}
#gbz .gbm{left:0}
#gbg .gbm{right:0}
.gbmc{background:#fff;position:relative;z-index:2;zoom:1}
.gbxms{background-color:#ccc;display:block;position:absolute;z-index:1;top:-1px;left:-2px;right:-2px;bottom:-2px;opacity:.4;-moz-border-radius:3px;filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=5);*opacity:1;*top:-2px;*left:-5px;*right:5px;*bottom:4px;-ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelradius=5)";opacity:1\0/;top:-4px\0/;left:-6px\0/;right:5px\0/;bottom:4px\0/}
#gbztms1,#gbi4m1,#gbi4s,#gbi4t{zoom:1}
.gbtc,.gbmc,.gbmcc{display:block;list-style:none;margin:0;padding:0}
.gbt{position:relative;display:-moz-inline-box;display:inline-block;line-height:27px;padding:0;vertical-align:top}
.gbt{*display:inline}
.gbto{box-shadow:0 1px 5px #ccc;-moz-box-shadow:0 1px 5px #ccc;-webkit-box-shadow:0 1px 5px #ccc}
.gbzt,.gbgt{cursor:pointer;display:block;text-decoration:none !important}
.gbts{border-left:1px solid transparent;border-right:1px solid transparent;display:block;*display:inline-block;padding:0 5px;position:relative;z-index:1000}
.gbts{*display:inline}
.gbto .gbts{background:#fff;border-color:#bebebe;color:#36c;padding-bottom:1px;padding-top:2px}
.gbz0l .gbts{color:#fff;font-weight:bold}
.gbtsa{padding-right:9px}
#gbz .gbzt,#gbz .gbgt,#gbg .gbgt{color:#aaa!important}
.gbtb2{display:block;border-top:2px solid transparent}
.gbto .gbzt .gbtb2,.gbto .gbgt .gbtb2{border-top-width:0}
.gbtb .gbts{background:url(//ssl.gstatic.com/gb/images/b_8d5afc09.png);_background:url(//ssl.gstatic.com/gb/images/b8_3615d64d.png);background-position:-27px -22px;border:0;font-size:0;padding:29px 0 0;*padding:27px 0 0;width:1px}
.gbzt-hvr,.gbzt:hover,.gbzt:focus,.gbgt-hvr,.gbgt:hover,.gbgt:focus{background-color:#4c4c4c;background-image:none;_background-image:none;background-position:0 -102px;background-repeat:repeat-x;outline:none;text-decoration:none !important}
.gbpdjs .gbto .gbm{min-width:99%}
.gbz0l .gbtb2{border-top-color:#dd4b39!important}
#gbi4s,#gbi4s1{font-weight:bold}
#gbi4i,#gbi4id{left:6px;border:0;height:24px;position:absolute;top:1px;width:24px}
.gbi4p{display:inline-block;width:30px}
.gbi4p{*display:inline}
.gbto #gbi4i,.gbto #gbi4id{visibility:hidden}
#gbi4id,#gbmpid{background:url(//ssl.gstatic.com/gb/images/b_8d5afc09.png);_background:url(//ssl.gstatic.com/gb/images/b8_3615d64d.png)}
#gbi4id{background-position:-29px -54px}
#gbmpid{background-position:-58px 0px}
#gbmpi,#gbmpid{border:none;display:inline-block;margin:10px;height:48px;width:48px}
#gbmpi,#gbmpid{*display:inline}
#gbg5{font-size:0}
#gbgs5{padding:5px !important}
.gbto #gbgs5{padding:7px 5px 6px !important}
#gbi5{background:url(//ssl.gstatic.com/gb/images/b_8d5afc09.png);_background:url(//ssl.gstatic.com/gb/images/b8_3615d64d.png);background-position:0 0;display:block;font-size:0;height:17px;width:16px}
.gbto #gbi5{background-position:-6px -22px}
#gbgf .gbmt,.gbn .gbmt,.gbn .gbmt:visited{color:#dd8e27 !important}
.gbf .gbmt,.gbf .gbmt:visited{color:#900 !important}
.gbmt,.gbml1,.gbmt:visited,.gbml1:visited{color:#36c !important;display:block;text-decoration:none}
.gbml1{display:inline-block}
.gbml1{*display:inline}
.gbml1-hvr,.gbml1:hover{text-decoration:underline !important}
.gbmt{padding-left:6px;padding-right:12px}
.gbmt-hvr,.gbmt:hover,.gbmt:focus{background:#eff3fb;cursor:pointer;outline:0 solid black;text-decoration:none !important}
.gbm0l,.gbm0l:visited{color:#000 !important;font-weight:bold}
.gbmh{border-top:1px solid #e5e5e5;font-size:0}
.gbmtc{padding:0;margin:0;line-height:27px}
.GBMCC:last-child:after,#GBMPAL:last-child:after{content:'\0A\0A';white-space:pre;position:absolute}
#gbd4 .gbpc,#gbd4 .gbmtc{line-height:17px}
#gbd4 .gbmt{border-top:1px solid #e5e5e5;padding:10px}
#gbd4 .gbpgs .gbmtc{line-height:27px}
#gbd4 .gbpgs .gbmt{padding:0 10px}
#gbmple .gbmt,#gbmpas .gbmt{font-size:15px}
.gbpd .gbmt,.gbmpmtd .gbmt{color:#666 !important}
.gbmpme,.gbps2{color:#666;display:block;font-size:11px}
.gbp0 .gbps2,.gbmpmta .gbmpme{font-weight:bold}
#gbmpp{display:none}
.gbpmc{background:#edfeea}
#gbpm{*border-collapse:collapse;border-spacing:0;margin:0;white-space:normal}
#gbpm .gbmt{border-top:none;color:#666 !important;font:11px Arial,sans-serif}
.gbpms2{font-weight:bold;white-space:nowrap}
#gbmpal{*border-collapse:collapse;border-spacing:0;margin:0;white-space:nowrap}
.gbmpala,.gbmpalb{font:13px Arial,sans-serif;padding:5px 10px}
.gbmpala{text-align:left}
.gbmpalb{text-align:right}
#gbmpsb{margin:0 10px}
.gbp0 .gbps,.gbmpmta .gbmpmn{color:#000;display:inline-block;font-weight:bold;padding-right:34px;position:relative}
.gbp0 .gbps,.gbmpmta .gbmpmn{*display:inline}
.gbmpmtc,.gbp0i{background:url(//ssl.gstatic.com/gb/images/b_8d5afc09.png);_background:url(//ssl.gstatic.com/gb/images/b8_3615d64d.png);background-position:0 -54px;position:absolute;height:21px;width:24px;right:0;top:-3px}
/* @end */

/* message area */
.message-area{position:absolute;z-index:10000;top:0;left:50%;zoom:1;font-size:12px;font-family:Arial;overflow:hidden}
.message-area-text-container{font-weight:bold;padding-top:3px;text-align:center;overflow:hidden;white-space:nowrap}
.message-area-bottom-1,.message-area-bottom-2,.message-area-bottom-3{height:1px;font-size:1px}
.message-area-bottom-1{height:2px;margin:0 1px}
.message-area-bottom-2{margin:0 2px}
.message-area-bottom-3{margin:0 4px}
.info-message .message-area-inner{background:#fff1a8}
.progress-message .message-area-inner{background:#ffc}
.error-message .message-area-inner{background:#fdd}
#loading-area{margin-left: -27px; /*width: 64px;*/}
.message-area-inner{background-color:#fff1a8}
.error .message-area-inner{background-color:#FFDDDD}
.loading #message-area-outer{visibility:hidden}
#loading-area-text{padding:0 5px}

/* @group header */
#header{height:95px}
#logo {cursor: pointer; position: absolute; top: 32px; left: 10px; }
.cuoluo{font-size:28px;font-weight:bold;text-shadow: 2px 2px 2px #aaa;margin-right:8px;font-family: 'Vollkorn', serif;}
.cuoluo .c{color:#1851ce}
.cuoluo .o{color:#c61800}
.cuoluo .u{color:#efba00}
.cuoluo .l{color:#1ba823}
#logo .diary{color:#2b4bc5;font-size:20px;font-weight:bold}
.beta{color:#CCC;position:relative;left:2px;top:-2px;}
/*#logo span{position:relative;color:#CCC;left:150px;font-size:15px;font-weight:bold}*/
#search {left: 230px; position: absolute; top: 38px;}
#search-input {margin: 1px 0; padding: 4px 1px 4px 4px; border-color: #666666 #CCCCCC #CCCCCC; border-style: solid; border-width: 1px;position:relative;top:2px;}
#search-input:focus {margin: 1px 0; padding: 3px 0 3px 3px; border: 2px solid #73a6ff; outline: 0 none;}
#search .goog-css3-button{padding:4px 8px}
#search .goog-imageless-button-content{line-height:23px}
#search .goog-imageless-button{top:2px;left:-2px}
/* @end */

/* setting header */
#sheader{padding-bottom:0.7em;overflow:auto;width:100%;}
#sheader a{float:left;margin-top:0.5em;}
.stitle {display:inline;float:left;font-size:140%;font-weight:bold;margin:0.1em 1.5em 0 0.5em;}
.stabs{padding-left:10px}
.stabs-link {
color:#2200CC;
cursor:pointer;
display:block;
font-weight:bold;
padding:3px 8px 4px;
text-decoration:underline;
display:inline-block;
}
a.stabs-selected {
background:none repeat scroll 0 0 #FFF7D7;
color:#000000;
cursor:default;
text-decoration:none;
}
/* settings body */
#sbody {
background:none repeat scroll 0 0 #FFF7D7;
margin:0;
padding:0 10px;
}
#svalues {
border-spacing:0;
font-size:95%;
width:100%;
}
#svalues th {
border-bottom:2px solid #FAD163;
padding:8px;
text-align:left;
vertical-align:top;
width:25%;
}
.top-buttons a{font-weight:bold}
.top-buttons input{padding:0 6px}
#svalues td {
border-bottom:2px solid #FAD163;
padding:8px;
text-align:left;
vertical-align:top;
width:75%;
}
#svalues tr.last th,#svalues tr.last td{border-bottom:0}

.privacy-policy {
background:none repeat scroll 0 0 #FFFFFF;
border-top:5px solid #FAD163;
padding-top:12px;
text-align:center;
}
