<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6"> <![endif]--> 
<!--[if IE 7]>    <html class="ie ie7"> <![endif]--> 
<!--[if IE 8]>    <html class="ie ie8"> <![endif]--> 
<!--[if IE 9]>    <html class="ie ie9"> <![endif]--> 
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Cuoluo Diary</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
{% if develop %}
  <link href="{{ '/css/closureui.css'|addfilemtime }}" rel="stylesheet" type="text/css" />
  <link href="{{ '/css/cld.dev.css'|addfilemtime }}" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="{{ '/images/favicon.ico'|addfilemtime }}" />
{% else %}
  <link href="{{ '/css/cld.min.css'|addfilemtime }}" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="{{ '/images/favicon.ico'|addfilemtime }}" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-632151-17']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}
</head>
<body>
<div class="loadingstatusbox rdbl4 rdbr4 noticemsg" id="loadingStatus">Loading...</div>
<div id="gb">
	<div id="gbar">
		<a class="gb1" href="//diary.cuoluo.com/" target="_blank">Home</a>
		<a class="gb1 active" href="/">Diary</a>
		<a class="gb1" href="//groups.google.com/group/cuoluo-diary" target="_blank">Discuss</a>
		<a class="gb1" href="//diary.cuoluo.com/help" target="_blank">Help</a>
		<a class="gb1" href="https://spreadsheets.google.com/viewform?formkey=dEZnZkZPM2RLYWlRaXlCTDItVGpsUUE6MQ" target="_blank">Feedback</a>
	</div>
	<div id="ghead">
		<div id="guser">
      <b>{{ user.email }}</b> | <a href="/settings">Settings</a> | <a href="/logout">Sign out</a>
		</div>
		<div style="left:0" class="gbh"></div><div style="right:0" class="gbh"></div>
	</div>
</div>
<div id="header">
  <h1 id="logo"><span class="cuoluo"><span class="c">C</span><span class="u">u</span><span class="o">o</span><span class="l">l</span><span class="u">u</span><span class="o">o</span></span><span class="diary">Diary</span><sup class="beta">beta</sup></h1>
	<form id="search" class="vh" action="//www.google.com/search" target="_blank">
		<input type="hidden" name="client" value="diary">
    <input type="text" id="search-input" name="q" autocomplete="off" maxlength="2048" size="40" tabindex="0" aria-haspopup="true"/><div id="search-diary-button"></div>
    <div id="search-web-button"></div>
	</form>
</div><!-- #header -->
<div id="mbox" class="rd3 noticemsg hidden"><span class="text"></span></div>
<div class="goog-splitpane deepbg vh" id="main">
  <div class="goog-splitpane-first-container" id="navpane">
    <div id="contentcreationpane" class="lightbg"><div id="createnew" class="toolbarbutton goog-inline-block"></div><div id="today" class="toolbarbutton"></div></div>
    <ul id="navpanelist" class="">
      <!--<li>Diary</li>-->
      <!--<li>Notes</li>-->
      <!--<li class="trash"><span class="text">Trash</span><div class="icon"></div></li>-->
    </ul>
    <div id="diary-tree" class="zippy">
      <h2 id="diary-tree-header" class="header">
        <span class="caption">Diary</span>
        <span class="zippy-menubutton zippy-button">&nbsp;</span>
        <span class="zippy-arrow zippy-button">&nbsp;</span>
      </h2>
      <div id="diary-tree-content" class="content">
        <div class="empty">
          <p class="msg">You haven't created any diary yet.</p>
          <div id="create1stdiary">Create new diary now</div>
        </div>
      </div>
    </div>
    <div id="notes-tree" class="zippy">
      <h2 id="notes-tree-header" class="header">
        <span class="caption">Notes</span>
        <span class="zippy-menubutton zippy-button">&nbsp;</span>
        <span class="zippy-arrow zippy-button">&nbsp;</span>
      </h2>
      <div id="notes-tree-content" class="content">
        <div class="empty">
          <p class="msg">You haven't created any notes yet.</p>
          <div id="create1stnotes">Create new note now</div>
        </div>
      </div>
    </div>
    <div id="tasks" class="zippy">
      <h2 id="tasks-title" class="header">
        <span class="caption">Tasks</span>
        <span class="icon"></span>
        <span class="zippy-menubutton zippy-button">&nbsp;</span>
        <span class="zippy-arrow zippy-button">&nbsp;</span>
      </h2>
      <div id="tasks-container" class="content">
        <p class="loading"><span>Loading...</span></p>
        <div id="relogin" class="hidden">
          <p>You need re-login to use tasks.</p>
          <a href="/login">« Re-login now</a>
        </div>
      </div>
    </div><!-- end #tasks -->
  </div>
  <div class="goog-splitpane-second-container" id="viewpane">
    <div id="doc" class="hidden">
      <div id="doc-header" class="mainheader">
        <h1 id="header-title">
          <span class="docpath"><span class="path"></span><span class="path-arrow goog-inline-block hidden">&nbsp;</span></span>
          <span class="text goog-inline-block goog-control"></span>
          <div id="edit-name" class="goog-inline-block hidden"><input type="text" id="editname" size="30"></div>
        </h1>
      </div>
      <div id="doc-container" class="maincontainer">
        <div id="editortoolbar" class="lightbg toolbar"></div>
        <div id="editorarea"></div>
      </div>
      <div id="doc-footer" class="mainfooter"></div>
    </div><!-- #doc end -->
    <div id="docslist" class="hidden">
      <div id="docslist-header" class="mainheader">
        <div id="docslist-title"><span class="text">Search results for: </span><em></em></div>
      </div>
      <div id="docslist-container" class="maincontainer">
        <div id="docslist-toolbar" class="lightbg toolbar">
          <span id="results-count"><span>Results: <b class="count">0</b> for <b class="query"></b>.</span></span>
        </div>
        <ul id="doclist"></ul>
      </div>
      <div id="docslist-footer" class="mainfooter"></div>
    </div><!-- #docslist end -->
    <div id="email" class="hidden">
      <div id="email-header" class="mainheader"></div>
      <div id="email-container" class="maincontainer">
        <div class="email-field">
          <label for="email-from">From:</label><span id="email-from"></span>
        </div>
        <div class="email-field">
          <label for="email-to">To:</label><input type="text" name="email-to" id="email-to" value=""/>
        </div>
        <div class="email-field">
          <label for="email-subject">Subject:</label><input type="text" name="email-subject" id="email-subject" value=""/>
        </div>
        <textarea id="email-body"></textarea>
      </div>
      <div id="email-footer" class="mainfooter"></div>
    </div><!-- #email end -->
  </div>
  <div class="goog-splitpane-handle" id="splitpane-handle"></div>
</div>
<script type="text/javascript">
var _USER_ID = "{{ user.id }}", _USER_EMAIL = "{{ user.email }}";
var _DIARY_LIST = {{ diary_list|safe }};
var _NOTES_LIST = {{ notes_list|safe }};
</script>
{% if develop %}
<script src="/closure-library/closure/goog/base.js"></script>
<script type="text/javascript" src="/js/src/cld.js"></script>
<script type="text/javascript" src="/js/src/api/docs.js"></script>
<script type="text/javascript" src="/js/src/api/diary.js"></script>
<script type="text/javascript" src="/js/src/api/notes.js"></script>
<script type="text/javascript" src="/js/src/message.js"></script>
<script type="text/javascript" src="/js/src/ui/utils.js"></script>
<script type="text/javascript" src="/js/src/ui/treecontrol.js"></script>
<script type="text/javascript" src="/js/src/ui/diarytreecontrol.js"></script>
<script type="text/javascript" src="/js/src/ui/notestreecontrol.js"></script>
<script type="text/javascript" src="/js/src/docstree/docstree.js"></script>
<script type="text/javascript" src="/js/src/docstree/newdocevent.js"></script>
<script type="text/javascript" src="/js/src/editor/plugins/manualsave.js"></script>
<script type="text/javascript" src="/js/src/editor/plugins/basictextformatter.js"></script>
<script type="text/javascript" src="/js/src/editor/editor.js"></script>
<script type="text/javascript" src="/js/src/splitpane.js"></script>
<script type="text/javascript" src="/js/src/zippy.js"></script>
<script type="text/javascript" src="/js/src/diarytree.js"></script>
<script type="text/javascript" src="/js/src/notestree.js"></script>
<script type="text/javascript" src="/js/src/doc/eventtype.js"></script>
<script type="text/javascript" src="/js/src/doc/event.js"></script>
<script type="text/javascript" src="/js/src/ui/popupdatepicker.js"></script>
<script type="text/javascript" src="/js/src/doc/doc.js"></script>
<script type="text/javascript" src="/js/src/creation.js"></script>
<script type="text/javascript" src="/js/src/today.js"></script>
<script type="text/javascript" src="/js/src/ui/autocomplete/searcharraymatcher.js"></script>
<script type="text/javascript" src="/js/src/ui/autocomplete/search.js"></script>
<script type="text/javascript" src="/js/src/api/search.js"></script>
<script type="text/javascript" src="/js/src/docslist.js"></script>
<script type="text/javascript" src="/js/src/search.js"></script>
<script type="text/javascript" src="/js/src/sectionpopupmenu/sectionpopupmenu.js"></script>
<script type="text/javascript" src="/js/src/sectionpopupmenu/diarysectionpopupmenu.js"></script>
<script type="text/javascript" src="/js/src/sectionpopupmenu/notessectionpopupmenu.js"></script>
<script type="text/javascript" src="/js/src/tasks.js"></script>
<script type="text/javascript" src="/js/src/api/email.js"></script>
<script type="text/javascript" src="/js/src/email.js"></script>
<script type="text/javascript" src="/js/src/app.js"></script>
{% else %}
{% ifequal browser.name 'unknown' %}
<script type="text/javascript" src="{{ '/js/cld.min.js'|addfilemtime }}"></script>
{% else %}
{% ifequal browser.name 'Internet Explorer' %}<script type="text/javascript" src="{{ '/js/cld.ie.min.js'|addfilemtime }}"></script>{% endifequal %}
{% ifequal browser.name 'Chrome' %}<script type="text/javascript" src="{{ '/js/cld.webkit.min.js'|addfilemtime }}"></script>{% endifequal %}
{% ifequal browser.name 'Safari' %}<script type="text/javascript" src="{{ '/js/cld.webkit.min.js'|addfilemtime }}"></script>{% endifequal %}
{% ifequal browser.name 'WebKit' %}<script type="text/javascript" src="{{ '/js/cld.webkit.min.js'|addfilemtime }}"></script>{% endifequal %}
{% ifequal browser.name 'Mozilla' %}<script type="text/javascript" src="{{ '/js/cld.gecko.min.js'|addfilemtime }}"></script>{% endifequal %}
{% ifequal browser.name 'Firefox' %}<script type="text/javascript" src="{{ '/js/cld.gecko.min.js'|addfilemtime }}"></script>{% endifequal %}
{% ifequal browser.name 'Konqueror' %}<script type="text/javascript" src="{{ '/js/cld.min.js'|addfilemtime }}"></script>{% endifequal %}
{% ifequal browser.name 'Opera' %}<script type="text/javascript" src="{{ '/js/cld.opera.min.js'|addfilemtime }}"></script>{% endifequal %}
{% endifequal %}
{% endif %}
</body>
</html>
